* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.carousel{
    padding-top: 50px;
}

.slide{
    display: none;
}

.slide.active {
    display: block;
}

.img-slide{
    aspect-ratio: 21 / 9;
    object-fit: cover;
}

.content-slide,
.carousel{
    position: relative;
}

.title-slide,
.text-slide{
    position: absolute;
    text-align: right;
    color: white;
}

.title-slide{
    bottom: 90px;
    right: 40px;
    font-size: 35px;
}

.text-slide{
    bottom: 50px;
    font-size: 20px;
    right: 39px;
}

.btn-top,
.btn-down{
    position: absolute;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 50px;
    padding: 5px;
    right: 500px;
}

.btn-top{
    top: 60px;
}

.btn-down{
    bottom: 15px;
}